*{
    margin: 0;
    padding: 5px;
    font-family: sans-serif;
}

body,
html{
    height: 100%;
    background-color: #c3ebf9;
   
}

.bg{
    background-color:  #fbb04c;
    color: #fff;
    text-transform: uppercase;
}
.bg1{
    background-color: #02bfb1;
    color: white;
}
.bg2{
    background-color:  #6edb6e;
    color: white;
}


.container-1{
    display: flex;
    flex-direction: column; 
    height: 100%;
    row-gap: 50px;
}
header{
    padding: 20px;
}


footer{
    padding: 40px;
}
.flex-item{
    align-items: center;
    display: flex;
   justify-content: center;
   flex: 3;
  
}
.flex-item--article{
    column-gap: 20px;
    align-items: stretch;
    
    
}
.flex-item__double{
    flex: ;
    text-align: center;
}

.flex-item__flexbox{
    display: flex;
    flex-direction: column;
     row-gap: 20px;
} 
.flex-item__double div{
    padding: 40px 0;
}
.flex-item__double--article{
    align-items: center;
    display: flex;
    justify-content: center;
}


